# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
env/
*.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Cache and log files
*.log
*.sqlite3
*.db
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Large models
model.pkl
scaler.pkl
*.pkl

# Pipenv
Pipfile.lock

# VSCode settings
.vscode/